@use '../variables/variables';

.poke-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--space-md);
  background-color: var(--interactive-bg-color);
  position: relative;
  overflow: hidden;
  top: 0;
  cursor: pointer;
  box-sizing: content-box;
  transition: 0.15s ease-in;
  border: 0.1rem solid var(--border-color);
  
  &:hover {
    transition: 0.15s ease-out;
    border: 0.1rem solid var(--border-color);
    background-color: var(--hover-color);
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -0.4rem;
  }

  &__image {
    margin-bottom: var(--space-sm);
  }

  &__name {
    font-weight: 700;
    letter-spacing: 0.06rem;
    font-size: 1.8rem;
  }

  &__id {
    font-weight: 600;
    color: rgba(black, 0.4);
    font-size: 1.4rem;

    &--empty {
      width: 4rem;
      height: 1rem;
      background-color: var(--skeleton-color);
      display: inline-block;
      border-radius: 3px;
    }
  }

  &__types {
    display: flex;
    margin-top: var(--space-sm);
  }
}


