.poke-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(blue, 0.4);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;

  &__frame {
    padding: var(--space-md);
    background-color: white;
    max-width: 100%;
    width: 70rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    font-weight: 600;
    letter-spacing: 0.06rem;
    font-size: 2.4rem;

    span {
      font-weight: 600;
      color: rgba(#000, 0.4);
      font-size: 1.4rem;
    }
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: var(--main-bg-color);
    font-size: 2.4rem;

    &:hover {
      background-color: #f2f2f2;
    }
  }

  &__body {
    display: flex;
    margin-top: var(--space-md)
  }

  &__image {
    background-color: #e9e9e9;
    padding: var(--space-md);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
  }

  &__content {
    flex-grow: 1;
    padding-left: var(--space-md);

    & > div + div {
      border-top: 1px solid #ebebeb;
    }

    & > div {
      padding: var(--space-md) 0;
    }

    h3 {
      font-weight: 700;
      font-size: 1.8rem;
      margin-bottom: var(--space-xs);
    }
  }

  &__types {
    display: flex;
  }
}