.poke-stat {
  display: flex;
  align-items: center;

  & + & {
    margin-top: var(--space-xs);
  }

  &__name {
    flex-grow: 1;
    flex-basis: 0;
    font-size: 1.4rem;
  }

  &__bar {
    flex-grow: 2;
    height: 2rem;
    flex-basis: 0;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    font-size: 1.6rem;

    span {
      height: 100%;
      display: flex;
      line-height: 2rem;
    }
  }
}