@use '../tools/breakpoints';

.poke-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.6);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoints.md {
    padding: var(--space-lg) 0;
  }

  &__frame {
    padding: var(--space-md);
    background-color: white;
    max-width: 100%;
    height: 100%;
    width: 100%;
    overflow: auto;
    
    @include breakpoints.sm {
    }
    
    @include breakpoints.md {
      width: 70rem;
      height: auto;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    font-weight: 600;
    letter-spacing: 0.06rem;
    font-size: 2.4rem;

    span {
      font-weight: 600;
      color: rgba(black, 0.4);
      font-size: 1.4rem;
    }
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: var(--main-bg-color);
    font-size: 2.4rem;

    &:hover {
      background-color: var(--hover-color);
    }
  }

  &__body {
    display: flex;
    margin-top: var(--space-md);
    flex-direction: column;

    @include breakpoints.sm {
      flex-direction: row;
    }
  }

  &__image {
    background-color: var(--interactive-bg-color);
    padding: var(--space-md);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-md);
    border: 0.1rem solid var(--border-color);
    
    img {
      width: 15rem;
    }
    
    @include breakpoints.sm {
      width: 35%;
      margin-bottom: 0;

      img {
        width: 20rem;
      }
    }
  }

  &__content {
    flex-grow: 1;

    & > div {
      padding-bottom: var(--space-md);
      
      & + div {
        padding-top: var(--space-md);
        border-top: 0.1rem solid var(--border-color);
      }
    }

    h3 {
      font-weight: 700;
      font-size: 1.8rem;
      margin-bottom: var(--space-xs);
    }

    @include breakpoints.sm {
      padding-left: var(--space-md);
    }
  }

  &__types {
    display: flex;
  }
}