html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100%;
  font-family: 'Exo', sans-serif;
}

main {
  padding: var(--layout-height) 0;
  background: url('/images/bg-white-pattern.png');
}