@use '../variables/variables';

.poke-footer {
  background-color: var(--main-bg-color);
  height: var(--layout-height);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  img {
    max-width: 100px;
    margin-bottom: var(--decoration-height);
  }

  .poke-decoration {
    position: absolute;
    bottom: calc(100% - 1px);
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 120rem;
    background-color: var(--main-bg-color);
    height: var(--decoration-height);

    &:before {
      position: absolute;
      content: '';
      bottom: 0;
      left: calc(calc(var(--decoration-height) * -1) + 1px);
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 0 var(--decoration-height) var(--decoration-height);
      border-color: transparent transparent var(--main-bg-color) transparent;
      transform: rotate(0deg);
    }

    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      right: calc(calc(var(--decoration-height) * -1) + 1px);
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: var(--decoration-height) 0 0 var(--decoration-height);
      border-color: transparent transparent transparent var(--main-bg-color);
      transform: rotate(0deg);
    }
  }
}